.btn {
    display: inline-block;
    width: 113px;
    height: 43px;
    font-size: 13px;
    line-height: 43px;
    text-align: center;
    color: $main-color;
    background-color: #D2E1FF;
    border-radius: 2px;
    transition: all 0.5s ease;
    &:hover {
        text-decoration: none;
        transform: scale(1.2);
    }
}
