.manage {
    padding: 170px 0;
    background: #F5F8FF;
    &__flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 55px;
    }
    &__content {
        max-width: 413px;
    }
    &__subtitle {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $main-color;
        margin-bottom: 27px;
    }
    &__title {
        font-size: 36px;
        line-height: 45px;
        color: #3D4F9F;
        margin-bottom: 27px;
    }
    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.03em;
        color: #8D96BD;
        margin-bottom: 47px;
    }
    &__link {
        display: flex;
        align-items: center;
    }
    &__picture {
        max-width: 653px;
        height: 436px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}